<template>
  <vs-row>
    <vs-col>
      <vs-card type="3" style="max-width: 60vw; margin: 0 auto">
        <template #title>
          <h3>Quick brown fox</h3>
        </template>
        <template #img>
          <i class="gg-sun"></i>
        </template>
        <template #text>
          <h3>Quick brown fox jumped over the lazy dog</h3>
        </template>
        <template #interactions>
          <vs-button relief danger icon>
            <i class="gg-menu"></i>
          </vs-button>
          <vs-button class="btn-chat" shadow primary>
            <i class="gg-atlasian"></i>
            <span class="span">54</span>
          </vs-button>
        </template>
      </vs-card>
    </vs-col>
  </vs-row>
</template>

<script>
export default {
  methods: {},
};
</script>

<style>
.gg-sun {
  --ggs: 3;
}
</style>
