<template>
  <div>
    <h1>{{ msg }}</h1>
    <vs-button shadow danger @click="loading = !loading" style="margin: 0 auto">Loading</vs-button>
    <div v-if="loading">
      <i class="gg-spinner" style="margin: 1rem auto"></i>
    </div>

    <vs-button dark relief style="margin: 1rem auto" @click="count++">
      <i class="gg-add" style="margin-right: 5px"></i>
      count is: {{ count }}
    </vs-button>
    <vs-button relief style="margin: 1rem auto" @click="openNotification('top-right', 'primary')">
      <i class="gg-dribbble" style="margin-right: 5px"></i>
      Dribbble
    </vs-button>

  </div>
</template>

<script>
export default {
  props: {
    msg: String,
  },
  data() {
    return {
      count: 0,
      loading: false,
    };
  },
  methods: {
    openNotification(position = null, color) {
      const noti = this.$vs.notification({
        color,
        position,
        title: "R0nin",
        text: `The stories of a samurai left for dead that became a ronin on
        the path to vengeance`,
      });
    },
  },
};
</script>

<style scoped>
a {
  color: #42b983;
}
.gg-dribbble {
  --ggs: 0.8;
}

.gg-spinner {
  color: blue;
}
/*button {
  outline: none;
  border: none;
  width: 6rem;
  height: 2rem;
  font-weight: 600;
  border-radius: 10px 15px;
  background-color: rgb(118, 205, 218);
  box-shadow: 1px 3px 4px 2px;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 2px 3px 5px 3px;
}*/
</style>
