<script>
import useRegisterSW from "../mixins/useRegisterSW";

export default {
  name: "reload-prompt",
  mixins: [useRegisterSW],
};
</script>

<template>
  <div v-if="offlineReady || needRefresh" class="pwa-toast" role="alert">
    <div class="message">
      <span v-if="offlineReady"> App ready to work offline </span>
      <span v-else>
        New content available, click on reload button to update.
      </span>
    </div>
    <vs-button relief v-if="needRefresh" @click="updateServiceWorker()">
      <i class="gg-repeat" style="margin-right: 2px"></i>Reload
    </vs-button>
    <vs-button @click="close" dark>
      <i class="gg-block" style="margin-right: 2px"></i>Close
    </vs-button>
  </div>
</template>

<style>
.pwa-toast {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 16px;
  padding: 12px;
  border: 1px solid #8885;
  border-radius: 4px;
  z-index: 1;
  text-align: left;
  box-shadow: 3px 4px 5px 0 #8885;
}
.pwa-toast .message {
  margin-bottom: 8px;
}
.pwa-toast button {
  border: 1px solid #8885;
  outline: none;
  margin-right: 5px;
  border-radius: 2px;
  padding: 3px 10px;
}

.gg-repeat,
.gg-block {
  --ggs: 0.8;
}
</style>
