<template>
  <div id="app">
    <div class="reload">
      <ReloadPrompt />
    </div>

    <TheSidebar />
    <!--  <HelloWorld msg="Vuesax 4 Vite PWA" />-->
    <div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
//import HelloWorld from "./components/HelloWorld.vue";
export default {
  components: {
    //HelloWorld,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 5rem;
}
</style>
